{% extends 'base.html' %}
{% block content %}
  <h1>Sign In</h1>
  <form action='login' method='post' novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.user_name.label }}
      {{ form.user_name(size=32) }}
      {% for error in form.user_name.errors %}
      <span style="color: red;">{{error}}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
      <span style="color: red;">{{error}}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}